<!DOCTYPE html>
<html lang="en">

<head>

  <title>{% block title %}{{ title }}{% endblock %}</title>

  <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!--script src="{{ url_for('static', filename='js/disableBtn.js') }}"></script-->
  <script src="{{ url_for('static', filename='js/expandTextarea.js') }}"></script>
  <script src="{{ url_for('static', filename='js/addSpaces.js') }}"></script>

  <style>
    .dropdown-container {
      position: relative;
    }
    body {
      font-family: monospace;
    }
    .subinput {
      text-align: center;
    }
  </style>

</head>

<body>

  <header>
    {% with title = title %}
    {% include "layouts/navbar.html" %}
    {% endwith %}
    {% block header %}{% endblock %}
  </header>

  <form class="my-2 mx-2" method="POST">
    {% block body %}
    {% block ciphForm %}
    {% block crackBtn %}
    <div class="form-row fixed-bottom my-2 mx-2">
      <div class="col">
        <label> {{ score * 100 }}% certainty</label>
      </div>
      <div class="col">
        <div class="float-right">
          <button class="btn btn-primary" id="spaceBtn" type="button">Add Spaces</button>
          <button class="btn btn-primary" id="submitBtn" type="submit">Decrypt</button>
        </div>
      </div>
    </div>
    {% endblock %}
    {% endblock %}
    {% endblock %}
  </form>

  <script type="text/javascript">
    expandTextarea(document.getElementById("ciphInput"));
    expandTextarea(document.getElementById("plainInput"));
  </script>

  <footer>
    {% block footer %}
    {% endblock %}
  </footer>

</body>

</html>
