<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <div class="footer-copyright text-center py-3">© 2018 Not-At-All-Copyright:
        <a href="{{ url_for('index') }}"> Someone, somewhere</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="font-small text-center py-3">
        <a href="https://github.com/DanGonite/CrPyto/issues" target="_blank">Report a Bug / Request a Feature</a>
      </div>
    </div>
  </div>
</div>
