{% set ciphers = ["caesar", "substitution","transposition", "vigenere"] %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">{{ title }}</a>
  <div class="container-auto ml-auto mr-2">
    <a class="btn btn-primary" role="link" href="https://crpyto.readthedocs.io" target="_blank">Docs</a>
  </div>
  <div class="dropdown-container mr-2">
    <button
      class="btn btn-secondary dropdown-toggle"
      id="toolsDrop"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Tools
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{{ url_for('tools.findAnagrams') }}">Find Anagrams</a>
      <a class="dropdown-item" href="{{ url_for('tools.formatting') }}">Formatting</a>
      <a class="dropdown-item" href="{{ url_for('tools.freqAnalysis') }}">Frequency Analysis</a>
      <a class="dropdown-item" href="{{ url_for('tools.reverseText') }}">Reverse Text</a>
    </div>
  </div>
  <div class="dropdown-container mr-2">
    <button
      class="btn btn-secondary dropdown-toggle"
      id="ciphsDrop"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Ciphers
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{{ url_for('ciphers.auto') }}">AutoCrack</a>
      <div class="dropdown-divider"></div>
      {% for cipher in ciphers %}
      <a class="dropdown-item" href="{{ url_for('ciphers.'+cipher) }}">{{ cipher.capitalize() }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
