<form class="my-2">
  <div class="form-row">
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control subinput" name="aSub" maxlength="1" value="{{ aSub }}">
        <div class="input-group-append">
          <span class="input-group-text">A</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="bSub" maxlength="1" value="{{ bSub }}">
        <div class="input-group-append">
          <span class="input-group-text">B</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="cSub" maxlength="1" value="{{ cSub }}">
        <div class="input-group-append">
          <span class="input-group-text">C</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="dSub" maxlength="1" value="{{ dSub }}">
        <div class="input-group-append">
          <span class="input-group-text">D</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="eSub" maxlength="1" value="{{ eSub }}">
        <div class="input-group-append">
          <span class="input-group-text">E</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="fSub" maxlength="1" value="{{ fSub }}">
        <div class="input-group-append">
          <span class="input-group-text">F</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="gSub" maxlength="1" value="{{ gSub }}">
        <div class="input-group-append">
          <span class="input-group-text">G</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="hSub" maxlength="1" value="{{ hSub }}">
        <div class="input-group-append">
          <span class="input-group-text">H</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="iSub" maxlength="1" value="{{ iSub }}">
        <div class="input-group-append">
          <span class="input-group-text">I</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="jSub" maxlength="1" value="{{ jSub }}">
        <div class="input-group-append">
          <span class="input-group-text">J</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="kSub" maxlength="1" value="{{ kSub }}">
        <div class="input-group-append">
          <span class="input-group-text">K</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="lSub" maxlength="1" value="{{ lSub }}">
        <div class="input-group-append">
          <span class="input-group-text">L</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="mSub" maxlength="1" value="{{ mSub }}">
        <div class="input-group-append">
          <span class="input-group-text">M</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control subinput" name="nSub" maxlength="1" value="{{ nSub }}">
        <div class="input-group-append">
          <span class="input-group-text">N</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="oSub" maxlength="1" value="{{ oSub }}">
        <div class="input-group-append">
          <span class="input-group-text">O</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="pSub" maxlength="1" value="{{ pSub }}">
        <div class="input-group-append">
          <span class="input-group-text">P</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="qSub" maxlength="1" value="{{ qSub }}">
        <div class="input-group-append">
          <span class="input-group-text">Q</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="rSub" maxlength="1" value="{{ rSub }}">
        <div class="input-group-append">
          <span class="input-group-text">R</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="sSub" maxlength="1" value="{{ sSub }}">
        <div class="input-group-append">
          <span class="input-group-text">S</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="tSub" maxlength="1" value="{{ tSub }}">
        <div class="input-group-append">
          <span class="input-group-text">T</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="uSub" maxlength="1" value="{{ uSub }}">
        <div class="input-group-append">
          <span class="input-group-text">U</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="vSub" maxlength="1" value="{{ vSub }}">
        <div class="input-group-append">
          <span class="input-group-text">V</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="wSub" maxlength="1" value="{{ wSub }}">
        <div class="input-group-append">
          <span class="input-group-text">W</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="xSub" maxlength="1" value="{{ xSub }}">
        <div class="input-group-append">
          <span class="input-group-text">X</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="ySub" maxlength="1" value="{{ ySub }}">
        <div class="input-group-append">
          <span class="input-group-text">Y</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control subinput" name="zSub" maxlength="1" value="{{ zSub }}">
        <div class="input-group-append">
          <span class="input-group-text">Z</span>
        </div>
      </div>
    </div>
  </div>
</form>