{% extends "layouts/base.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% block body %}
      <div class="container-fluid">
        <div class="row">
          {% include "layouts/subInputs.html" %}
        </div>
      </div>
      {% endblock %}
    </div>


    <div class="col-9">
      {% block ciphForm %}
      {{ super() }}
      <div class="form-group">
        <textarea class="form-control" id="ciphInput" name="ciphInput" oninput="expandTextarea(this)" placeholder="Cipher Text">{{ciph}}</textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="plainInput" name="plainInput" oninput="expandTextarea(this)" placeholder="Plain Text">{{result}}</textarea>
      </div>
      {% endblock %}
    </div>
  </div>
</div>