{% extends "layouts/base.html" %}

{% block ciphForm %}
{{ super() }}
<div class="form-row">
  <div class="col">
    <div class="form-group">
      <textarea class="form-control" id="plainInput" name="plainInput" oninput="expandTextarea(this)" placeholder="Plain Text">{{result}}</textarea>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <textarea class="form-control" id="ciphInput" name="ciphInput" oninput="expandTextarea(this)" placeholder="Cipher Text">{{ciphText}}</textarea>
    </div>
    <div class="float-right my-2">
      <input class="form-control" name="keylenInput" placeholder="Key Length" value={{keylen}}>
    </div>
    <div class="float-right mx-2 my-2">
      <input class="form-control" name="keyInput" placeholder="Key" value={{key}}>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
  expandTextarea(document.getElementById("plainInput"));
  expandTextarea(document.getElementById("ciphInput"));
</script>
{% endblock %}
